/** OVERALL STYLING **/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .container {
    padding: 1.5rem;
    flex-direction: column;
  }
}

.flexContainer {
  display: flex;
}

.flexContainerColumnRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.flexContainerColumnSpaced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-position: inside;
}

li::marker {
  color: #8e2de2;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #8e2de2;
}

.spacer {
  padding: 1rem;
}

.divider {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to right, #8e2de2, #4a00e0);
  border-image-slice: 1;
  width: 100px;
  margin: 0 0 1rem 0;
}

/** HEADER **/
.header {
  padding: 1rem;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.linkImg {
  height: 25px;
  width: 25px;
  padding-left: 10px;
  transition: transform 0.2s;
}

.linkImg:hover {
  transform: scale(1.2);
}

/** SEARCH FORM **/

form label {
  padding: 0.5rem;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #8e2de2;
}

@media (max-width: 800px) {
  form label {
    width: 100%;
    display: grid;
  }
}

.checkBoxLabel {
  display: block;
}

input {
  margin: 5px;
}

input[type="text"] {
  padding: 0.8rem;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid rgb(153, 153, 153);
}

input[type="submit"] {
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  input[type="text"] {
    margin: 0;
  }

  input[type="submit"] {
    width: 100%;
  }
}

.intro {
  font-size: 3rem;
  font-weight: 100;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .intro {
    display: none;
  }
}

/** DISPLAY JOBS **/

.allJobsContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.jobContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #8e2de2;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.jobContainer:hover {
  transform: scale(1.01);
}

.jobContainerSkeleton {
  position: relative;
  overflow: hidden;
  border: 1px solid #c4c4c4;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 3.3rem;
  margin: 0.5rem 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.jobContainerSkeleton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: transit 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes transit {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.noMatchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noMatchImg {
  width: 50%;
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .noMatchImg {
    width: 90%;
    margin-top: 3rem;
  }
}

.jobTitle {
  font-weight: 600;
  font-size: 1.2rem;
  word-break: break-all;
}

.jobLocation {
  font-size: 0.8rem;
  word-break: break-all;
}

.jobCompanyName {
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: end;
}

.chipType {
  border-radius: 20px;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  width: fit-content;
  margin-right: 0.3rem;
  margin: 1rem 0.3rem 0 0;
}

.chipType.color {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
}

.chipType.colorless {
  background: #fff;
  color: #8e2de2;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: initial !important;
}

.modalContent {
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.descriptionContainer {
  border: 1px solid #8e2de2;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.descriptionContainer h2 {
  padding: 1rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}

.descriptionContainer p {
  padding: 0.5rem 0;
}

.fab {
  position: fixed;
  padding: 1rem;
  border-radius: 50px;
  top: 94%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #8e2de2;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}
